.wrapper {
  max-width: 1300px;
  margin: auto;
}

.btn {
  width: max-content;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-end {
  align-items: end;
}

.pl-0 {
  padding-left: 0;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.w-100 {
  width: 100%;
}

.brand-text {
  color: var(--brand-400) !important;
}
