.dashboard {
  width: 100%;
}

.dashboardNav {
  position: sticky;
  top: 48px;
  left: 0;
  width: max-content;
  height: 100vh;
  background-color: transparent;
  padding-right: 2rem;
  padding-top: 40px;
}

.dashboardNav li {
  padding: 0 !important;
}

@media (max-width: 1024px) {
  .wrapper {
    display: relative;
    padding-bottom: 10vh;
  }

  .dashboardNav {
    position: fixed;
    top: unset;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 100% !important;
    height: 5vh;
    padding-right: 0;
    padding-bottom: 5vh;
    background-color: var(--brand-400);
  }

  .dashboardNav::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background-image: url('../../public/arrow-up-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease-in-out;
  }

  .dashboardNav li {
    transform: scale(0.25);
    opacity: 0;
    width: max-content !important;
    transition: transform, opacity 0.3s 0.5s ease-in-out;
  }

  .dashboardNav:focus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
  }

  .dashboardNav:focus::before {
    top: 2rem;
    transform: translateY(0) rotate(180deg);
  }

  .dashboardNav:focus li {
    transform: scale(1);
    opacity: 1;
  }
}

section {
  width: 100%;
  padding-top: 40px;
  padding-left: 2rem;
}
@media (max-width: 1024px) {
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

section table {
  text-align: center !important;
}

section table th {
  text-align: center !important;
}

.courses {
  padding-top: 40px;
  height: max-content;
}

.course {
  min-width: 200px;
  width: max-content !important;
  background-color: azure;
  border: 2px solid var(--brand-400);
  border-right-width: 0;
  border-bottom-width: 0;
  border-top-left-radius: 1rem;
  box-shadow: 8px 8px 16px -8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .course {
    width: 100% !important;
  }
}

.course:hover {
  box-shadow: 8px 8px 32px -8px rgba(0, 0, 0, 0.3);
}

.semesters {
  justify-content: space-between;
}

.semester {
  padding: 0.25rem 0.5rem;
  background: var(--brand-400);
  color: white;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.semester:hover {
  color: white !important;
  transform: translateY(-0.25rem);
}

.color-red {
  background: #ff4d4f;
  padding: 0.25rem 0.5rem;
  color: #fcfcfc;
  border-radius: 0.25rem;
}

.color-green {
  background: var(--brand-400);
  padding: 0.25rem 0.5rem;
  color: #fcfcfc;
  border-radius: 0.25rem;
}

.color-neutral {
  background: rgb(232, 246, 241);
  padding: 0.25rem 0.5rem;
  color: #a7a7a7a7;
  font-style: italic;
  font-size: 0.8em;
  border-radius: 0.25rem;
}

.attendanceCTA {
  display: flex !important;
}

[data-attendance] {
  position: relative;
}

[data-attendance]::after {
  content: attr(data-attendance);
  position: absolute;
  right: -8px;
  top: -1.5rem;
  width: max-content;
  padding: 0.5rem;
  border-radius: 2px;
  background: grey;
  color: white;
  text-transform: capitalize;
}

[data-attendance='absent']::after {
  background-color: #ff4d4f;
}

[data-attendance='present']::after {
  background-color: var(--brand-400);
}
