.dashboard {
  width: 100%;
  height: 100vh;
}

.dashboardNav {
  width: max-content;
  height: 100%;
  background-color: transparent;
  padding-right: 2rem;
  padding-top: 40px;
}

.dashboardNav li {
  padding: 0 !important;
}

section {
  width: 100%;
  padding-top: 40px;
  padding-left: 2rem;
}

section table {
  text-align: center !important;
}

section table th {
  text-align: center !important;
}

.color-red {
  background: #ff4d4f;
  padding: 0.25rem 0.5rem;
  color: #fcfcfc;
  border-radius: 0.25rem;
}

.color-green {
  background: var(--brand-400);
  padding: 0.25rem 0.5rem;
  color: #fcfcfc;
  border-radius: 0.25rem;
}
