.dashboard {
  width: 100%;
}

.dashboardNav {
  position: sticky;
  top: 48px;
  left: 0;
  width: max-content;
  height: 100vh;
  background-color: transparent;
  padding-right: 2rem;
  padding-top: 40px;
}

.dashboardNav li {
  padding: 0 !important;
}

section {
  width: 100%;
  padding-top: 40px;
  padding-left: 2rem;
}

section table {
  text-align: center !important;
}

section table th {
  text-align: center !important;
}

.courses {
  height: 80vh;
}

.course {
  min-width: 200px;
  width: max-content !important;
  background-color: azure;
  border: 2px solid var(--brand-400);
  border-right-width: 0;
  border-bottom-width: 0;
  border-top-left-radius: 1rem;
  box-shadow: 8px 8px 16px -8px rgba(0, 0, 0, 0.3);
  transition: box-shadow, transform 0.3s ease-in-out;
  cursor: pointer;
}

.course:hover {
  transform: translateY(-1rem);
  box-shadow: 8px 8px 32px -8px rgba(0, 0, 0, 0.3);
}

.color-red {
  background: #ff4d4f;
  padding: 0.25rem 0.5rem;
  color: #fcfcfc;
  border-radius: 0.25rem;
}

.color-green {
  background: var(--brand-400);
  padding: 0.25rem 0.5rem;
  color: #fcfcfc;
  border-radius: 0.25rem;
}
