.nav {
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: var(--brand-400);
  padding: var(--spacing-500) var(--spacing-600);
  box-shadow: 8px 16px 8px -8px rgba(0, 0, 0, 0.2);
}

.nav .wrapper {
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  color: #fdfdfd;
  line-height: 1;
  margin-bottom: 0;
}

.avatar {
  border: 1px solid #fdfdfd;
  border-radius: 50%;
}
