.ant-menu-item-active {
  color: var(--button-primary-400);
}

.ant-menu-submenu-open .ant-menu-submenu-title {
  color: #1890ff;
}

form .ant-picker {
  width: 100% !important;
}

.ant-input-number {
  width: 100%;
}

.ant-menu-item {
  padding: 0 !important;
  margin-top: 0 !important;
}

.ant-menu-inline {
  padding-top: 40px;
  border-color: var(--brand-500);
}

.ant-menu-submenu-inline div {
  padding: 0 !important;
}

.ant-menu-sub .ant-menu-item {
  padding-left: 1rem !important;
}

.ant-menu-sub .ant-menu-item .ant-btn {
  padding-left: 0 !important;
  color: black;
}

.ant-card-body {
  padding-top: 0.25rem !important;
}

.ant-card-head-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 0;
}
