.ant-menu-item-active {
  color: var(--button-primary-400);
}

.ant-menu-submenu-open .ant-menu-submenu-title {
  color: #1890ff;
}

form .ant-picker {
  width: 100% !important;
}

.ant-input-number {
  width: 100%;
}

.ant-menu-item {
  padding: 0 !important;
  margin-top: 0 !important;
}

.ant-menu-inline {
  padding-top: 40px;
  border-color: var(--brand-500);
}

.ant-menu-submenu-inline div {
  padding: 0 !important;
}

.ant-menu-sub .ant-menu-item {
  padding-left: 1rem !important;
}

.ant-menu-sub .ant-menu-item .ant-btn {
  padding-left: 0 !important;
  color: black;
}

@media (max-width: 1024px) {
  .ant-btn-text {
    color: #fcfcfc !important;
  }
}

.ant-card-body {
  padding-top: 0.25rem !important;
}

.ant-card-head-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.ant-space-item {
  width: 100%;
}

.ant-picker-calendar {
  width: 80%;
  margin: auto;
}

@media (max-width: 1024px) {
  .ant-picker-calendar {
    position: relative;
    z-index: -1;
    width: 100%;
  }
}

.ant-picker-calendar-date-content {
  text-align: right !important;
}

@media (max-width: 768px) {
  .ant-picker-calendar-date-content {
    font-size: 0.6rem !important;
  }
}

.apiLoader {
  transform: scale(5);
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
}
